@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /* Imagem de fundo */
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("https://wallpaper.forfun.com/fetch/bd/bd38ecaaafede70d5316bd433e2d46cb.jpeg");
    background-size: cover;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 93%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.div-video {
    width: 100%;
    padding-top: 40%;
    position:fixed ;
    z-index: 1;
}

.div-video iframe {
    width: 40%;
    height: 50%;
    position: absolute;
    top: 5%;
    left: 10%;
    border-radius: 1%;
}

.text {
    color: #fff;
    margin-top: -40vh;
    z-index: 1;
    
}

.garramo {
    font-size: 1.5em;
    color: antiquewhite;
    margin-left: 10%; 
    text-decoration: none;   
    

}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: antiquewhite;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

.form-box h2 {

    font-size: 1.5em;
    color: #fff;
    text-align: center
}

.input-box {
    position: relative;
    width: 100%;
    margin: 20px;
    border-bottom: 2px solid #fff;
    

}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    pointer-events: none;

}

.input-box input:focus~label,
.input-box input:valid~label {

    top: -5px;
    transition: .5s;

}

.input-box input {
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 0.9em;
    color: #fff;
    font-weight: 600;
    padding: 0 32px 0 5px;

}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1em;
    color: #fff;


}

.controle-parental,
.remember-forgot,
.notifications {
    font-size: 0.8em;
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
    display: flex;
    align-items: center;
}

.remember-forgot1 a {
    font-size: 0.8em;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    
}

.remember-forgot1 label {
    font-size: .8em;
    font-weight: 500;
    color: #fff;
    display: flex;
    justify-content: center;
    
}

.remember-forgot label input,
.notifications label input,
.controle-parental label input {
    accent-color: #ffffff;
    margin-right: 3px;
}

.remember-forgot a {
    color: #fff;
    text-decoration: none;

}

.remember-forgot a:hover {
    text-decoration: underline;
}

.btn {
    width: 100%;
    height: 45px;
    background: #162938;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9em;
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;

}

.login-register {
    font-size: 0.8em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 15px 0 10px;

}

.login-register p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;

}

.login-register p a:hover {
    text-decoration: underline;


}